﻿#paper {
   position: relative;
   border: 1px solid gray;
   display: inline-block;
   background: transparent;
   overflow: hidden;
}
#paper svg {
   background: transparent;
}
#paper svg .link {
   z-index: 2;
}
.html-element {
   position: absolute;
   /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
   pointer-events: none;
   -webkit-user-select: none;
   border:1px solid #808080;
   background:#faf0cd;
   border-radius: 5px;
   padding: 2px;
   box-sizing: border-box;
   z-index: 2;
}
.html-element select,
.html-element input,
.html-element button {
   /* Enable interacting with inputs only. */
   pointer-events: auto;   
}
.html-element button.delete {
   border: none;
   background:none;
   position: absolute;
   top: -17px;
   right: 0;
   cursor: pointer;
   font-size:10px;
   color:#867979;
   padding:0 3px;
}
.html-element button.delete:hover{
    background:#867979;
    color:#fff;
}
.link .connection{
    stroke-width:1px;
}
.link *{
    pointer-events:none;
}
h1,h2{
    margin:0;
    padding:0;
}
h1{
    font-size:14px;
}
h2{
    font-size:12px;
    font-weight:bold;
}
hr{
    padding:0;
    margin:5px 0;
    border-top:1px solid #808080;
}
.headerImage{
    font-size:22px;
    float:left;
    margin-right:10px;
    padding-left:3px;
}
.classForm{
    font-size:12px!important;
    padding:0 2px;
}
.classForm input{
    padding:2px;
    background-color:inherit;
    border:none;
}
.html-element form .btn{
    font-size:9px;
    height:21px;
    margin-left:3px;
    display:none;
    background:#999;
    color:#fff;
}
.html-element form .btn:hover{
    color:#211f1f;
}
.classForm label{
    font-weight:normal;
}
div{
    padding:0!important;
    margin:0!important;
}
.row{
    color:#000;
    pointer-events: auto;
    opacity:.7;
}
.row:hover{
    opacity:1;
}
.html-element a{
    position:absolute;
    bottom:5px;
    left:5px;
    color:#bbb;
    display:inline-block;
    margin-top:5px;
    pointer-events:auto;
    cursor:pointer;
}
.html-element a:hover{
    color:#444;
}
.expandBtn, .collapseBtn{
    border-radius:3px;
    display:inline-block;
    position:absolute;
    right:4px;
    top:3px;
    border:none;
    background-color:#867979;
    opacity:.3;
    font-size:14px;
    color:#fff;
}
.expandBtn:hover, .collapseBtn:hover{
    opacity:1;
    color:#fff;
}
.collapseBtn{
    margin-top:2px;
}